<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <carriers>
            <carrier>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
				<model>Excellence\ShippingMethodNewCustom\Model\Carrier\Carrier</model>
                <name>Excellence ShippingMethodNewCustom Shipping</name>
                <price>0.00</price>
                <title>Excellence ShippingMethodNewCustom Shipping</title>
               <specificerrmsg>Excellence ShippingMethodNewCustom Shipping is not available for your area. Please contact us.</specificerrmsg>
            </carrier>
            <!-- carrier-config -->
        </carriers>
    </default>
</config>
